html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

.caja{
	width: 500px;
}

.enlinea-bloque{
	border: 1px solid #999;
	padding: 5px;
	display: inline-block;
	margin: 30px;
}