a{
	background-color: red;
	color: #FFFFFF;
}
a:link{
	background-color: red;
}
a:visited{
	background-color: black;
}
a:hover{
	background-color: blue;
}
a:focus{
	background-color: green;
}
a:active{
	background-color: yellow;
	color: #000000;
}