html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  color: #FFFFFF;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.grupo-cuadrados{
	background: #eeeeee;
	padding: 25px;
}

.cuadrados{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 25px;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

.cuadrado-1{
	background: #0370EF;
	position: relative;
	top: 50px;
}

.cuadrado-2{
	background: #F24F4F;
}

.cuadrado-3{
	background: #173F8A;
}